{% extends 'base.html' %}


{% block content %}

<div class="container">

    <div style="width: 400px; margin: auto;">
    <form action="{% url 'account:signup' %}" method="POST">
        {% csrf_token %}


        <div class="mb-3">
            <label for="id_username" class="form-label">아이디</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="id_nickname" class="form-label">닉네임</label>
            {{ form.nickname }}
        </div>

        <div class="mb-3">
            <label for="id_password1" class="form-label">비밀번호</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label for="id_password2" class="form-label">비밀번호 확인</label>
            {{ form.password2 }}
        </div>

   

        <input type="submit" value="회원가입" class="w-100 btn btn-lg btn-primary">

    </form>
</div>

  


</div>
{% endblock %}


<div style="width: 400px; margin: auto;">
    <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <div class="mb-3">
        <!-- <label for="username" class="form-label">아이디</label> -->
        <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요" name="username">

    </div>

    <div class="mb-3">
        <!-- <label for="username" class="form-label">아이디</label> -->
        <input type="text" class="form-control" id="username" placeholder="닉네임을 입력하세요" name="username">
    </div>

    <div class="mb-3">
        <!-- <label for="username" class="form-label">아이디</label> -->
        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" name="password">
    </div>


    <div class="mb-3">
        <!-- <label for="" class="form-label">비밀r번호</label> -->
        <input type="password" class="form-control" id="password2" placeholder="비밀번호를 다시 입력하세요" name="password2">
    </div>

   
    <a href="{% url 'account:signup' %}">회원가입 </a>
</div>