{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div style="width: 400px; margin: auto;">
        <form action="{% url 'webtoon:webtooncreate' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                웹툰제목
                {{ form.title }}
            </div>
        
            <div>
                필명
               {{ form.penname }}
           </div>

           <div>
               소개
               {{ form.description }}
           </div>

           <div>
               장르
               {{ form.genre }}
               
           </div>

           <div>
               태그
               {{ form.tag }}
           </div>

           <div>
               썸네일
               {{ form.thumbnail }}
           </div>

           <div>
               웹툰
               {{ form.image }}
           </div>

          
    


        </form>
    </div>
</div>


{% endblock %}