{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="container">

    <div style="width: 500px; margin: auto;">

        <form action="{% url 'webtoon:webtooncreate' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div>
                웹툰제목
                {{ form.title }}
            </div>

            <div>
                필명
                {{ form.penname }}
            </div>

            <div>
                소개
                {{ form.description }}
            </div>

            <!-- <div>
                장르
                <div class="genretagbox">
                    <div class="genrebox">
                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option1" value="MO" autocomplete="off">
                        <label class="btn btn-secondary" for="option1">현대물</label>

                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option2" value="RO" autocomplete="off">
                        <label class="btn btn-secondary" for="option2">로맨스</label>

                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option3" value="FA" autocomplete="off">
                        <label class="btn btn-secondary" for="option3">판타지</label>

                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option4" value="MA" autocomplete="off">
                        <label class="btn btn-secondary" for="option4">무협/사극</label>

                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option5" value="GA" autocomplete="off">
                        <label class="btn btn-secondary" for="option5">일상/개그</label>

                        <input type="radio" class="btn-check genrebox_item" name="genre" id="option6" value="AC" autocomplete="off">
                        <label class="btn btn-secondary" for="option6">스릴러/액션</label>
                    </div>
                    <div class="tagbox" >
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                        <label><input type="checkbox" name="" id="">태그</label>
                    </div>

                </div>


            </div> -->


            <div>
                썸네일
                {{ form.thumbnail }}
            </div>

            <div>
                웹툰
                {{ form.image }}
            </div>

            <div>
                장르
                <label for="gg1">판타지</label>
                <input type="radio" name="genre" id="gg1" value="현대물">
            </div>
            
            <div>
                
            </div>

            <div>
                태그
                <label for="gg">피폐</label>
                <input type="checkbox" name="tag" id="gg" value="1">
            </div>

            <div>
                <input type="submit" value="올리기">
                <button>취소</button>
            </div>





        </form>
    </div>
</div>


{% endblock %}