{% extends 'base.html' %}


{% block content %}
<h1>웹툰 메뉴</h1>


<div class="row container mx-auto" style="" >
    <div class="col-6">
        <img src="" alt="웹툰표지">
    </div>
    <div class="col-6">

        <div>
            웹소설 작가로 사는법
            <span><span class="material-symbols-outlined">
                favorite
                </span></span>
        </div>
        <div>하방방</div>
        <div>소개글</div>
        <div>연재요일</div>
        <div>
            <span>월</span>
            <span>월</span>
            <span>월</span>
            <span>월</span>    
            <span>월</span>
            <span>월</span>
            <span>월</span>
        </div>
        <div>{메인장르}</div>
        <div>222</div>
        <div>조회수 3323</div>
    </div>

</div>




<a href="{&url 'home' &}">홈으로</a>

{% endblock %}menu
