

.header-right{
    display: flex;
    flex-direction: row;
}
.footter{
    width: 100%;
    height: auto;
    border:  1px solid black;
    background-color: gray;
}
.aticle{
 width: 1200px;

}
.content-card{
    transition: transform 1s;
}
.content-card :hover{
    transform:scale(1.03);   
}

.home-main-top{
    width: 100%;
    height:  150px;
    display: flex;
    
}
.home-main-right-webtoon, .home-main-right-webnovel {
    
    flex-wrap: wrap;
    border: 1px solid gray;
    background-color: darkgray;
    border-radius: 5px;
}
.item-right-align{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}


.carousel-item-size {
    height: 450px;
    /* object-fit: cover; */
}
#matching-card-category{
    font-size:1.5em;
    font-weight: 600;
}
.matchong-card-status{
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    background-color: rgb(95,157,234);
}

.matching-card{
    width: 200px;
    border: 1px solid skyblue;
    margin-right: 1em;
}
.matching-card:hover{
    transform: scale(1.03);
}
.matching-card > .crad-text {
   margin: 0;
   border: 1px sold #ddd;
}
#matching-card{
    padding: 0.5rem 0.5rem;
}
.matching-card:hover{
    background-color: rgb(200, 200, 200);

}

.matching-card-top{
    display: flex;
    justify-content:space-between;
}

.matching-card-bottom{
    display: flex;   
}

.matching-card-icon > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.genretagbox{
    padding: 5px 10px;
    border: 1px solid gray;
    display: flex; 
}

.genrebox{
    border: 1px solid gray;
}

.tagbox{
    border: 1px solid gray;   
}
